@page "/"
@inject HttpClient Http

<PageTitle>Word Frequency</PageTitle>

<h1>Word Frequency</h1>
<h3>This is a small website to analyse how often words appear in news outlet titles. </h3>

<Grid @ref="grid"
      TItem="WordFrequency"
      Class="table table-hover table-bordered table-striped"
      DataProvider="EmployeesDataProvider"
      AllowFiltering="true"
      AllowSorting="true"
      Responsive="true"
      AllowPaging="true"
      PageSize="10"
      PageSizeSelectorItems="new int[3] { 10, 20, 50 }"
      PaginationItemsTextFormat="">
    <GridColumn TItem="WordFrequency" HeaderText="Word" PropertyName="Word" SortKeySelector="item => item.Word">
        @context.Word
    </GridColumn>
    <GridColumn TItem="WordFrequency" HeaderText="Frequency" PropertyName="Frequency" SortKeySelector="item => item.Frequency">
        @context.Frequency
    </GridColumn>
</Grid>

@code {
    [CascadingParameter]
    public AppState ApplicationState { get; set; }

    BlazorBootstrap.Grid<WordFrequency> grid = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task<GridDataProviderResult<WordFrequency>> EmployeesDataProvider(GridDataProviderRequest<WordFrequency> request)
    {
        return await Task.FromResult(request.ApplyTo(ApplicationState.GroupedWords ?? new List<WordFrequency>()));
    }
}